<style>

  #about-container{
    padding-top: 30px;
    margin-top: 30px;
    background-color: white;
    margin-left: 9px;
    -webkit-box-shadow: 0px -2px 8px -4px #888, 1px 1px 4px #ccc;
  }

  #about-title {
    margin: 0px;
    color: #4b9123;
    font-family: 'Museo Slab 500', Rockwell, Georgia, serif;
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 30px;
  }

  .about-header{
    margin-top: 25px;
    margin-bottom: 15px;
    color: #4b9123;
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.4286em;
    font-size-adjust: 0.488;
    font-weight: 400;
  }

</style>


<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="about-container" class="jumbotron">
        <div id="paralegalInfo">
          <h2 id="about-title">About Us</h2>
          <img id="about-pic" class="img-responsive" src="https://s3-us-west-1.amazonaws.com/kfp-development/about/about-photo.jpg">
          <h3 class="about-header">Our Vision</h3>
          Empowered citizens, responsive governments.
          <h3 class="about-header">Our Mission</h3>
          In a world where 4 billion people live outside the protection of the law, Namati is dedicated to putting the law in people’s hands. We’re building a movement of grassroots legal advocates who work with communities to advance justice. These advocates are fighting on the front lines to ensure that people can protect their land, access essential services, and take part in the decisions that govern their lives.
          <h3 class="about-header">Our Strategy</h3>
          Namati works in three ways:

          <h5>GRASSROOTS INNOVATION</h5>

          Namati partners with civil society organizations and governments to develop, implement, and evaluate legal empowerment strategies that address five urgent global challenges:<br><br>
          
          <ul>
          <li>Delivering quality legal aid at scale;</li>
          <li>Protecting community land rights;</li>
          <li>Closing the enforcement gap in environmental law;</li>
          <li>Fulfilling the right to citizenship; and</li>
          <li>Ensuring that essential services like healthcare and education are accountable to local communities.</li>
          </ul>
          
          <h5>A GLOBAL NETWORK</h5>

          Namati convenes an international community of practitioners committed to advancing justice. Members learn from each other and collaborate across borders. Together, we are building a stronger global movement for legal empowerment.

          <h5>RESEARCH & ADVOCACY</h5>

          Drawing on our own experience and that of the wider network, we advocate for and advise on reforms to policies and institutions.
        </div>
      </div>
    </div>
  </div>
</div>